<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunw.cloud.familydesk.sysmanage.mapper.SysStageMapper">
  <resultMap id="BaseResultMap" type="com.cunw.cloud.familydesk.common.model.SysStage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_stage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteBySelectiveElement" parameterType="java.util.HashMap">
    delete from sys_stage
    where 1!=1 
      <if test="stageName != null and stageName != ''">
        and stage_name = #{stageName}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
  </delete>
  <insert id="insert" parameterType="com.cunw.cloud.familydesk.common.model.SysStage">
    insert into sys_stage (id, stage_name, status
      )
    values (#{id,jdbcType=VARCHAR}, #{stageName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cunw.cloud.familydesk.common.model.SysStage">
    insert into sys_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stageName != null">
        stage_name,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stageName != null">
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cunw.cloud.familydesk.common.model.SysStage">
    update sys_stage
    set stage_name = #{stageName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cunw.cloud.familydesk.common.model.SysStage">
    update sys_stage
    <set>
      <if test="stageName != null">
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, stage_name, status
    from sys_stage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, stage_name, status
    from sys_stage
    <where> 
      <if test="stageName != null and stageName != ''">
        and stage_name = #{stageName}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into sys_stage (id, 
      stage_name, status
    ) values <foreach collection="list" item="item" separator=",">(#{item.id,jdbcType=VARCHAR}, 
      #{item.stageName,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT})</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from sys_stage
    where id in 
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>